@media (min-width: 501px) and (max-width: 2000px) {
  #icons_teacher {
    display: flex;
    gap: 200px;
    justify-content: center;
    margin-top: 117px;
    text-align: center;
  }

  .num {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 67px;
    color: #000000;
    text-align: center;
    margin-top: 20px;
  }

  .text_num {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;

    color: #000000;
  }

  #close_button {
    margin-right: 220px;
  }
  .list-item:hover {
    transform: scale(1.12);
    transition: 0.5s;
  }
}
