@media (min-width: 501px) and (max-width: 2000px) {
  .footer_container {
    background: #1a2a44;
    width: auto;
    height: 531px;
    z-index: -1;
    margin-top: 160px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 112px;
  }

  .icon_logo img {
    width: 43px;
    height: 40px;
    margin-top: 82px;
    gap: 50px;
    display: block;
  }

  .icon_logo {
    display: flex;
    gap: 50px;
  }

  .container_block2 {
    display: flex;
    justify-content: space-between;
  }

  .p_text_glava {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
  }

  .text_p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;

    color: #ffffff;
  }
  .border_linia {
    border: 3px solid rgba(122, 146, 184, 0.23);
    margin-top: 69px;
  }
  .footer_text_container p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
  }

  .footer_text_container {
    margin-top: 67px;
  }
}
